/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
 }
  /* header styles  */
  .heading{
      background-color: blue;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      color: white;
      padding-top: 35px;
      padding-bottom: 35px;
}
  .text{
      display: flex;
      flex-direction: column;  
      padding-left: 146px;
  }
  .heading h1{
      width: 485px;
       height: 230px;
       font-size: 64px; 
     padding-bottom: 15px; 
  }
  .heading img{
    
    width: 550px;
    height: 430px;
}
  .button{
    Width: 120px;
    Height: 35px;
    background-color: #E02C6D;
    padding-top:10px;
    padding-left: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
}
/* players details   style*/
.players-details{
    background-color: white;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    margin-left: 180px; 
    margin-right: 220px;
    margin-top: 70px;
    margin-bottom: 165px;
    
}
.player{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-top: 25px; 
    padding-left: 15px;
    padding-bottom: 33px;
    padding-top: 15px;
    
    
}
.player img {
     width: 300px;
    height: 256px;
    
}
.player-title{
    font-size: 24px;
}
.player-data{
    font-size: 16px;
    line-height: 26px;   
    color: #6C6C6C;
}
/* match section style  */
.match{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 15px;

}
.match-show{
    padding-left: 182px;
}
.match h1{
     font-size: 52px;
     padding-bottom: 5px;
}
.match p{
        font-size: 16px;
        color: #6C6C6C;
        padding-bottom: 5px;
}
.match img{
    width: 520px;
    height: 430px;
    padding-left: 35px;
}
/* footer section style  */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top: 100px;
    padding-bottom: 70px;

}
.footer img{
    width: 490px;
    height: 110px;
   
}
.links{
    width: 120px;
    height: 32px;
    align-items: center;
    font-Size:12px;
    padding-left: 20px;
}
.links .icon{
    padding-right: 14px;
    color: gray;
}
.copyright{
    font-Size:12px;
}
/* media quary */
@media only screen and (max-width:688px) {
    .heading h1, .heading img, .match img, .footer img{
        width: 100%;
    }
    .players, .heading, .match{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    } 
    .text, .footer{
        flex-direction: column; 
    }
    .match img,.text, .match-show{
        padding-left: 0;
    }
     .button, .match img{
        margin-top: 50px;
    }
}