/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
 }
  /* header styles  */
  .heading{
      background-color: blue;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      color: white;
      padding-top: 35px;
      padding-bottom: 35px;
}
  .text{
      display: flex;
      flex-direction: column;  
      padding-left: 146px;
  }
  .heading h1{
      width: 485px;
       height: 230px;
       font-size: 64px;
  }
  .heading img{
    width: 550px;
    height: 430px;
}
  .button{
    Width: 115px;
    Height: 35px;
    background-color: #E02C6D;
    padding-top:10px;
    text-decoration: none;
    color: white;
}
